.container {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-top: 1.5rem;
}

.avatar {
  height: 60px;
}

.contentBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.commentBox {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-700);
  padding: 1rem;
  padding-bottom: 1.6rem;
  border-radius: 8px;

  header {
    display: flex;

    align-items: flex-start;

    justify-content: space-between;

    button {
      background: transparent;
      border: 0;
      line-height: 0;

      color: var(--gray-400);

      &:hover {
        color: var(--red-100);
      }
    }
  }

  p {
    color: var(--gray-300);
  }
}

.commentBox header > div {
  display: flex;
  flex-direction: column;

  line-height: 1.6rem;

  strong {
    color: var(--gray-100);
    font-weight: bold;

    time {
      font-size: 0.75rem;
    }
  }
}

.contentBox div button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--gray-400);
  border: none;

  span::before {
    content: '\2022';
    padding: 0 0.25rem;
  }

  svg {
    margin-right: 0.25rem;
  }

  &:hover {
    color: var(--green-500);
    cursor: pointer;
  }
}
